@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --footer-height: 37px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #202020;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-neutral-950/50
}

details > summary {
  list-style: none;
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
  cursor: pointer;
  margin-top: .5rem;
}

.min-h {
  min-height: calc(100vh - var(--footer-height));
}

details > summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: ' +';
}
details[open] summary:after {
  content: " -";
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateX(-10px)}
  100%  {opacity: 1; transform: translateX(0)}
}